<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List course</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.8.2/angular-route.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="SourceController">
    <main>
        <div class="row">
            <div class="col-md-3" ng-include="'includes/sidebar.html'">

            </div>

            <div class="col-md-9 pt-4">
                <h1 class="text-center pt-2">Add Source</h1>
                <!-- Form -->
                <form>
                    <!-- tên sản phẩm -->
                    <div class="form-group">
                        <label for="productName">Source Name</label>
                        <input ng-model="form_source.name" type="text" class="form-control" id="productName">
                    </div>
                    <!-- danh mục sản phẩm -->
                    <div class="form-group">
                        <label for="productName">Source Title</label>
                        <input ng-model="form_source.title" type="text" class="form-control" id="productName">
                    </div>
                    <!-- giá sản phẩm -->
                    <div class="form-group">
                        <label for="productPrice">Price</label>
                        <input ng-model="form_source.price" type="number" class="form-control" id="productPrice">
                    </div>
                    <!-- hình ảnh -->
                    <!-- lưu ý ảnh sử dụng đường dẫn -->
                    <div class="form-group">
                        <label for="productImage">Image</label>
                        <input ng-model="form_source.image" type="text" class="form-control" id="productImage">
                    </div>
                    <!-- mô tả sản phẩm -->
                    <div class="form-group">
                        <label for="productDescription">Description</label>
                        <textarea ng-model="form_source.description" class="form-control" id="productDescription"
                            rows="3"></textarea>
                    </div>

                    <button ng-click="create()" id="btnAdd" class="btn btn-success mt-3">Thêm mới</button>
                </form>
            </div>
            <div class="md-9 pt-4">
                <h1 class="text-center pt-2">Admin Course List</h1>
                <!-- nút thêm mới -->
                <a href="#!sources/create" class="btn btn-primary">Thêm mới</a>
                <!-- Table -->
                <table id="product-list" class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Title</th>
                            <th scope="col">description</th>
                            <th scope="col">Image</th>
                            <th scope="col">Price</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="s in soures">
                            <th scope="row">{{s.id}}</th>
                            <td>{{s.name}}</td>
                            <td>{{s.title}}</td>
                            <td>{{s.description}}</td>
                            <td><img src="../client/images/{{s.image}}" width="50px" /></td>
                            <td>{{s.price}}</td>
                            <td>
                                <a href="#!/sources/{{s.id}}/edit" class="text-decoration-none btn btn-primary"
                                    ng-click="edit($index)">
                                    Edit
                                </a>
                                <a href="#!/sources/{{s.id}}" class="text-decoration-none">
                                    <button type="button" class="btn btn-warning">Show</button>
                                </a>
                                <button ng-click="delete(s.id)" type="button" class="btn btn-danger">Delete</button>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </main>
    <footer class="bg-primary  text-light mt-5" ng-include="'includes/footer.html'"> </footer>
    <script>
        let app = angular.module('myApp', ['ngRoute']);
        app.controller('SourceController', function ($scope, $http, $routeParams, $location) {

            let endpoint = "http://localhost:3000/sources/";

            if (!$routeParams.id) {

                $http.get(endpoint).then(
                    (res) => { $scope.soures = res.data; },
                    (err) => {
                        alert(err.statusText);
                    }

                );

            } else {
                $http.get(endpoint + $routeParams.id).then(
                    (res) => {
                        $scope.source = res.data;
                        $scope.form_source = res.data;
                    },
                    (err) => { alert(err.statusText); }
                );
            }
            $scope.create = () => {
                $http.post(endpoint, $scope.form_source).then(
                    (res) => {
                        alert("Success!!!");

                        $location.path('/sources');
                    },
                    (err) => { alert(err.statusText); }
                );
            }


        })
    </script>

</body>


</html>