<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="angular.min.js"></script>
    <script src="Prods.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="myApp">
    <div class="container" ng-controller="myCtrl">
        <div class="row" style="margin-top: 100px;">
            <div class="col-sm-8 offset-sm-2">
                <div class="card">
                    <div class="card-header">
                        Danh sach hang hoa
                    </div>

                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th><a href="#" ng-click="sortBy('name')">SAN PHAM</a></th>
                                <th><a href="#" ng-click="sortBy('price')">DON GIA</a></th>
                                <th><a href="#" ng-click="sortBy('discount')">GIAM GIA</a></th>
                                <th><a href="#" ng-click="sortBy('date')">NGAY</a></th>

                            </tr>
                            <tr ng-repeat="prod in list_product |  orderBy:prop  |  limitTo:8:begin">
                                <td>{{prod.name |uppercase}}</td>
                                <td>{{prod.price|currency}}</td>
                                <td>{{prod.discount|percentage:2}}</td>
                                <td>{{prod.date|date:"MMMM-dd,yyyy"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" ng-click="first()">first</button>
                    <button class="btn btn-info" ng-click="prev()">Prev</button>
                    <button class="btn btn-info" ng-click="next()">Next</button>
                    <button class="btn btn-primary" ng-click="last()">Last</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function ($scope, $http) {
            $scope.list_product = list;
            $scope.prop = "name";
            $scope.sortBy = function (prop) {
                $scope.prop = prop;
            }
            $scope.begin = 0;
            $scope.pageCount = Math.ceil($scope.list_product.length / 8);
            $scope.last = function () {
                $scope.begin = ($scope.pageCount - 1) * 8;
            }
            $scope.first = function () {
                $scope.begin = 0;
            }
            $scope.next = function () {
                if ($scope.begin < ($scope.pageCount - 1) * 8) {
                    $scope.begin += 8;
                }
            }
            $scope.prev = function () {
                if ($scope.begin > 0) {
                    $scope.begin -= 8;
                }
            }
        });
        app.filter('percentage', function ($filter) {
            return function (input, decimals) {
                return $filter("number")(input * 100, decimals) + '%';
            };
        });
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>