<!doctype html>
<html lang="en">

<head>
    <title>Title</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container" ng-app="myapp" ng-controller="myctrl">
        <div class="card-columns">
            <div class="card">
                <img class="card-img-top" src="holder.js/100x180/" alt="">
                <div class="card-body">
                    <h4 class="card-title">tinh tien thuong tet</h4>
                    <form action="" method="get">
                        <div class="form-group">
                            <label for=""> name</label>
                            <input type="text" class="form-control" ng-model="name">
                        </div>
                        <div class="form-group">
                            <label for=""> salary</label>
                            <input type="text" class="form-control" ng-model="salary">
                        </div>
                        <div class="form-check">
                            <label for="" class="form-check-label">gender</label><br>
                            <input type="radio" class="form-check-input" ng-model="gender" name="gender" value="nam">nam
                            <br>
                            <input type="radio" class="form-check-input" ng-model="gender" name="gender" value="nu">nu

                        </div>
                        <div class="form-group">
                            <select name="" id="" class="form-control" ng-model="age"
                                ng-options="a.age for a in dotuoi">

                            </select>
                        </div>

                    </form>
                    <div class="panel-footer">
                        Tien thuong : <strong>{{getBonus()|number:2}}</strong>VND
                    </div>
                </div>
            </div>

        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        var app = angular.module("myapp", []);
        app.controller("myctrl", function ($scope) {
            $scope.getBonus = function () {
                var bonus = $scope.age.rate * $scope.salary
                if ($scope.gender == "nu") {
                    bonus += 200000;
                }
                return bonus;
            }
            $scope.dotuoi = [
                {
                    age: "duoi 25",
                    rate: 0.07
                },
                {
                    age: "tu 25-40",
                    rate: 0.1
                },
                {
                    age: "tren 40",
                    rate: 0.15
                },
            ];
             $scope.age = $scope.dotuoi[0];
            // $scope.gender = "nam"
        });

    </script>
</body>


</html>