<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body ng-app="my-app">
    <br>
    <div class="container" ng-controller="myctrl">
      <form>
        <div class="form-group">
          <label>Họ và tên: </label>
          <input ng-model="student.fullname" class="form-control">
        </div>
        <div class="form-group">
          <label>Ngày sinh:</label>
          <input ng-model="student.birthday" class="form-control">
        </div>
        <div class="form-group">
          <label>Điểm</label>
          <input ng-model="student.mark" class="form-control">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-info" ng-click="insert()">Thêm</button>
          <button type="button" class="btn btn-warning" ng-click="update()">Sửa</button>
          <button type="button" class="btn btn-primary" ng-click="delete()">Xóa</button>
          <button type="button" class="btn btn-danger" ng-click="cancel()">Hủy</button>
          <button type="button" class="btn btn-default" ng-click="clear()">Mới</button>
        </div>   
      </form>
      <table class="table">
        <tr>
          <th>Họ và tên</th>
          <th>Ngày sinh</th>
          <th>Điểm</th>
          <th></th>
        </tr>
        <tr ng-repeat="student in students">
          <td>{{student.fullname}}</td>
          <td>{{student.birthday}}</td>
          <td>{{student.mark}}</td>
          <td>
            <a href="#" ng-click="edit($index)">Sửa</a>
          </td>
        </tr>
      </table>
    </div>

    <script>
      var app = angular.module("my-app", []);
      app.controller("myctrl", function ($scope) {
        $scope.students = [
          {
            fullname: "Nguyễn Văn Tèo",
            birthday: '2004-04-20',
            mark: 8.8
          },
          {
            fullname: "Lều Quang Tuyên",
            birthday: '2004-10-21',
            mark: 10
          }
        ];
        $scope.student = {
           
        };
        $scope.index = -1;
        $scope.clear = function(){
            $scope.student = {};
            $scope.index= - 1;
        }
        $scope.insert = function(){
            $scope.students.push(angular.copy($scope.student));
            $scope.clear();
        }
        $scope.update = function(){
            $scope.students[$scope.index] = angular.copy($scope.student);
        }
        $scope.delete = function(){
            $scope.students.splice($scope.index, 1);
            $scope.clear();
        }
        $scope.cancel = function(){
            if ($scope.index == -1){
                $scope.clear
            }else{
                $scope.edit($scope.index);
            }
        }
    $scope.edit = function(index){
            $scope.index=  index;
            $scope.student = angular.copy($scope.students[index]);
    }
    
      });                                   
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>